@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="login-form-head">
                    <p>Hey! Forgot Your Password? Reset Now</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
