@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>&nbsp;</p>
<div class="alert alert-primary">
    Please check your email to reset your password.
</div>

