<i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
<div class="dropdown-menu notify-box nt-enveloper-box">
    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
    <div class="nofity-list">
        <a href="#" class="notify-item">
            <div class="notify-thumb">
                <img src="assets/images/author/author-img1.jpg" alt="image">
            </div>
            <div class="notify-text">
                <p>Aglae Mayer</p>
                <span class="msg">Hey I am waiting for you...</span>
                <span>3:15 PM</span>
            </div>
        </a>
    </div>
</div>